<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">Enter your company info</p>

    <form id="settings-form" class="my-2">

      <div class="input-group mb-3">
        <input type="text" class="form-control" id="name" placeholder="Enter company name"
          value="<%= settings.name? settings.name: '' %>">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" id="address" placeholder="Enter company address"
          value="<%= settings.address? settings.address:  '' %>">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" id="phone" placeholder="Enter company phone"
          value="<%= settings.phone? settings.phone: '' %>">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" id="slogan" placeholder="Enter company slogan"
          value="<%= settings.slogan? settings.slogan: '' %>">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>

      <!-- Tooltip for the text field -->
      <div class="mb-3">
        <i class="fas fa-info-circle" 
        data-toggle="tooltip" 
        data-placement="right" 
        title="This is the text a user will recieve when they make a purchase use ${quantity} for quantity, ${item} for the item and ${total} for total"></i>
      </div>

      <div class="input-group mb-3">
        <textarea class="form-control" id="sms" rows="3" 
        placeholder="This is the text a user will recieve when they make a purchase"
        value="<%= settings.sms? settings.sms: '' %>"
        ></textarea>
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="fas fa-envelope"></i>
          </div>
        </div>
      </div>

      <div class="input-group-mb-3" style="display: none;">
        <input type="text" value="<%= settings.id? settings.id: '' %>" id="id" />
      </div>

      <div class="row">
        <!-- /.col -->
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block">Upload company info</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    <form id="file">
      <div class="form-group my-3">
        <label for="exampleInputFile">Select Your Logo</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="logo" class="custom-file-input" id="company-logo">
            <label class="custom-file-label" for="company-logo">Choose file</label>
          </div>
          <div class="input-group-append">
            <button type="submit" class="input-group-text">Upload</button>
          </div>
        </div>
      </div>
    </form>


    <p class="mb-1">
      <a href="forgot-password.html">I forgot my password</a>
    </p>
    <p class="mb-0">
      <a href="/signup" class="text-center">Register a new membership</a>
    </p>
  </div>
  <!-- /.login-card-body -->
</div>